.custom-button {
  --background: #5fbded;
  --color: #ffffff;
  --border-radius: 4px;
  padding: 12px 20px;
  margin: 10px 0;
}

.custom-button-image {
  --background: #5fbded;
  --color: #ffffff;
  --border-radius: 4px;
  padding: 12px 20px;
}

.custom-button-cancelar {
  --background: #5fbded;
  --color: #ffffff;
  --border-radius: 4px;
  padding: 12px 20px;
}

.custom-button:focus, .custom-button:hover {
  --background: #5fbded;
}

ion-content {
  --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
}

ion-content ion-list, ion-content ion-item {
  background: transparent;
}

ion-content ion-item {
  --background: transparent;
  --ion-item-background: transparent;
}

.center-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-item {
  --background: transparent;
}

ion-item.input-item {
  background-color: transparent;
}

ion-label.form-label {
  color: #ffffff;
}

ion-header {
  --background: #004d74;
  color: #ffffff;
}

ion-button {
  --background: #004d74;
  --color: #ffffff;
}

ion-icon {
  color: #ffffff;
}
