<ion-header>
  <ion-toolbar>
    <ion-title>Teclados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Teclado 1 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/teclado1.jpg"></ion-img>
          <ion-card-content>
            <h2>Teclado Mecánico Gamer Redragon Kumara K552</h2>
            <p>$34.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Teclado 2 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/teclado2.jpg"></ion-img>
          <ion-card-content>
            <h2>Teclado Gamer G413 Carbon Logitech</h2>
            <p>$89.000</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Teclado 3 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/teclado3.jpg"></ion-img>
          <ion-card-content>
            <h2>Teclado gamer xtech arminger xtk-510S</h2>
            <p>$13.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Teclado 4 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/teclado4.jpg"></ion-img>
          <ion-card-content>
            <h2>Teclado Gamer Xpg Mage Rgb Gaming Red Switch Acuario</h2>
            <p>$12.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Teclado 5 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/teclado5.jpg"></ion-img>
          <ion-card-content>
            <h2>Teclado Gamer Hp Gk100 Qwerty Español Con Luz Rgb - Progaming</h2>
            <p>$10.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Teclado 6 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/teclado6.jpg"></ion-img>
          <ion-card-content>
            <h2>Teclado Mecánico con Retroiluminación</h2>
            <p>$18.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
