/* Fondo del ion-content */
ion-content {
  --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
}

.banner-image {
  margin-left: 38px;
  width: 80%;
  height: auto;
}

/* Colores de fondo para cada tarjeta */
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
  --background: #ffffff;
}

/* Estilos para el contenido dentro de las tarjetas */
.card-1 ion-card-content,
.card-2 ion-card-content,
.card-3 ion-card-content,
.card-4 ion-card-content,
.card-5 ion-card-content,
.card-6 ion-card-content {
  color: #000000;
}

/* Reducir el tamaño de la fuente de las etiquetas h6 */
.card-1 ion-card-content h6,
.card-2 ion-card-content h6,
.card-3 ion-card-content h6,
.card-4 ion-card-content h6,
.card-5 ion-card-content h6,
.card-6 ion-card-content h6 {
  font-size: 20px;
}

/* Estilo para el precio */
.card-1 ion-card-content .precio,
.card-2 ion-card-content .precio,
.card-3 ion-card-content .precio,
.card-4 ion-card-content .precio,
.card-5 ion-card-content .precio,
.card-6 ion-card-content .precio {
  color: #000000; /* Rojo para resaltar */
  font-weight: bold; /* Negrita para que resalte más */
  font-size: 26px; /* Tamaño de fuente más grande */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Sombra para destacar el precio */
}

/* Estilos adicionales para mejorar la apariencia de las tarjetas */
ion-card {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

ion-button {
  margin-top: auto;
  --background: transparent;
  --color: inherit;
  --border-radius: 0;
}

/* Asegurarse de que todas las tarjetas tengan el mismo tamaño */
ion-grid {
  display: flex;
  flex-wrap: wrap;
}

ion-row {
  display: flex;
  flex-wrap: wrap;
}

ion-col {
  display: flex;
  align-items: stretch;
}

/* Estilo para el encabezado */
ion-header {
  --background: #004d74;
  color: #ffffff;
}

/* Estilo para los botones del encabezado */
ion-button {
  --background: #004d74;
  --color: #ffffff;
}

/* Estilo para los íconos dentro de los botones */
ion-icon {
  color: #ffffff;
}

