<ion-header>
  <ion-toolbar>
    <ion-title>Audifonos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar color="light" placeholder="Buscar"></ion-searchbar>
  <img class="banner-image" alt="audifonopromo" src="assets/icon/audifonospromo.jpg"/>
  <ion-grid>
    <ion-row>
      <!-- Audifono 1 -->
      <ion-col size="6">
        <ion-card class="card-fixed-size">
          <ion-img src="/assets/icon/audifono1.jpg"></ion-img>
          <ion-card-content>
            <h2>Audífonos Gamer Profesional E1000 Usb Rgb 7.1 Pc</h2>
            <p>$16.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Audifono 2 -->
      <ion-col size="6">
        <ion-card class="card-fixed-size">
          <ion-img src="/assets/icon/audifono2.jpg"></ion-img>
          <ion-card-content>
            <h2>Audifono Gamer Logitech G535</h2>
            <p>$79.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Audifono 3 -->
      <ion-col size="6">
        <ion-card class="card-fixed-size">
          <ion-img src="/assets/icon/audifono3.jpg"></ion-img>
          <ion-card-content>
            <h2>Audífonos gamer a10</h2>
            <p>$21.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Audifono 4 -->
      <ion-col size="6">
        <ion-card class="card-fixed-size">
          <ion-img src="/assets/icon/audifono4.jpg"></ion-img>
          <ion-card-content>
            <h2>Audífonos gamer onikuma k20 camuflaje blanco con luz rgb led</h2>
            <p>$8.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Audifono 5 -->
      <ion-col size="6">
        <ion-card class="card-fixed-size">
          <ion-img src="/assets/icon/audifono5.jpg"></ion-img>
          <ion-card-content>
            <h2>Auriculares inalámbricos para PC </h2>
            <p>$28.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Audifono 6 -->
      <ion-col size="6">
        <ion-card class="card-fixed-size">
          <ion-img src="/assets/icon/audifono6.jpg"></ion-img>
          <ion-card-content>
            <h2>Audífonos Gamer Logitech G335, Wired, Auricular Tamaño Completo</h2>
            <p>$59.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
