<ion-header>
  <ion-toolbar>
    <ion-title>PC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- pc -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/pc1.jpg"></ion-img>
          <ion-card-content>
            <h2>Pc gamer vibora black v1</h2>
            <p>$$389.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- pc 2 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/pc2.jpg"></ion-img>
          <ion-card-content>
            <h2>PC Gamer AMD Ryzen 5 5500 </h2>
            <p>$789.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- pc 3 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/pc3.jpg"></ion-img>
          <ion-card-content>
            <h2>PC GAMER AMD RYZEN 5 5600g </h2>
            <p>$749.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- pc 4 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/pc4.jpg"></ion-img>
          <ion-card-content>
            <h2>Pc Gamer Spartan: Rz 3 2200g Pro</h2>
            <p>$344.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- pc 5 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/pc5.jpg"></ion-img>
          <ion-card-content>
            <h2>Pc gamer i5 11400f</h2>
            <p>$779.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- pc 6 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/pc6.jpg"></ion-img>
          <ion-card-content>
            <h2>Pc Gamer Intel I5 11400f</h2>
            <p>$849.000</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
