<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end"> 
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/carrito']">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <img alt="Perfil" src="/assets/icon/perfil.jpg"/>
    <ion-card-header>
      <ion-card-title>Juan Peréz</ion-card-title>
      <ion-card-subtitle>Administrador</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-button class="center-button-container custom-button">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <ion-list>
    <ion-item class="profile-item">
      <ion-label>Nombre:</ion-label>
      <ion-text>Juan Peréz</ion-text>
    </ion-item>
    <ion-item class="profile-item">
      <ion-label>Email:</ion-label>
      <ion-text>ju.perez&#64;gmail.com</ion-text>
    </ion-item>
    <ion-item class="profile-item">
      <ion-label>Teléfono:</ion-label>
      <ion-text>+56 9xxxxxxxx</ion-text>
    </ion-item>
    <ion-item class="profile-item">
      <ion-label>Dirección:</ion-label>
      <ion-text>Santiago, Chile</ion-text>
    </ion-item>
  </ion-list>

  <ion-button expand="full" class="custom-button" style="margin: 20px;">
    Editar Perfil
  </ion-button>
  <ion-button expand="full" class="custom-button" [routerLink]="'/login'">
    Cerrar Sesión<ion-icon name="log-out-outline"></ion-icon>
  </ion-button>
</ion-content>
