<ion-header>
  <ion-toolbar>
    <ion-title>Sillas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar color="light" placeholder="Buscar"></ion-searchbar>
  <img class="banner-image" alt="sillas" src="assets/icon/sillagamer.jpg"/>
  <ion-grid>
    <ion-row>
      <!-- Silla 1 -->
      <ion-col size="6">
        <ion-card class="card-1">
          <ion-img src="/assets/icon/silla1.jpg"></ion-img>
          <ion-card-content>
            <h2>Silla Gamer Wetech Color Gris/Negro Modelo LS-1118</h2>
            <p>$81.290</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Silla 2 -->
      <ion-col size="6">
        <ion-card class="card-2">
          <ion-img src="/assets/icon/silla2.jpg"></ion-img>
          <ion-card-content>
            <h2>Silla Gamer Reclinable B/N</h2>
            <p>$78.000</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Silla 3 -->
      <ion-col size="6">
        <ion-card class="card-3">
          <ion-img src="/assets/icon/silla3.jpg"></ion-img>
          <ion-card-content>
            <h2>SILLA GAMER LUMAX ROM</h2>
            <p>$69.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Silla 4 -->
      <ion-col size="6">
        <ion-card class="card-4">
          <ion-img src="/assets/icon/silla4.jpg"></ion-img>
          <ion-card-content>
            <h2>Silla Gamer Racing Reclinable 180° Reposapiés Rojo</h2>
            <p>$63.490</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Silla 5 -->
      <ion-col size="6">
        <ion-card class="card-5">
          <ion-img src="/assets/icon/silla5.jpg"></ion-img>
          <ion-card-content>
            <h2>Silla Gamer Ergonomica Kingshouse Con Apoyapies Azul</h2>
            <p>$62.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Silla 6 -->
      <ion-col size="6">
        <ion-card class="card-6">
          <ion-img src="/assets/icon/silla6.jpg"></ion-img>
          <ion-card-content>
            <h2>Silla Gamer Semi Profesional Con Reposa Pies</h2>
            <p>$68.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
