<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/carrito']">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nueva Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Contraseña Nueva</ion-label>
    <ion-input type="password" [(ngModel)]="nuevaContrasena" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="confirmarContrasena" required></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="cambiarContrasena()">Cambiar Contraseña</ion-button>
</ion-content>
