ion-content {
  --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
}

  .content-center {
    margin-top: 35%;
  }

  ion-card {
    background-color: rgba(8, 134, 65, 0); 
  }
  
  