<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end"> 
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/carrito']">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar color="light" placeholder="Buscar"></ion-searchbar>
  <img style="border-radius: 15px;" class="banner-image" alt="mousepromo" src="assets/icon/mousegamer.jpg"/>
  <ion-grid>
    <ion-row>
      <!-- Mouse 1 -->
      <ion-col size="6">
        <ion-card class="card-1" [routerLink]="'/mouse1'">
          <ion-img src="/assets/icon/mouse1.jpg"></ion-img>
          <ion-card-content>
            <h6>Mouse Gamer Redragon Vampire M720</h6>
            <p><b>Stock: 15</b></p>
            <p><b>$19.900</b></p>
            <ion-button expand="block" color="primary">Ver Producto</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Mouse 2 -->
      <ion-col size="6">
        <ion-card class="card-2">
          <ion-img src="/assets/icon/mouse2.jpg"></ion-img>
          <ion-card-content>
            <h6>Mouse Gamer Logitech G203 RGB LIGHTSYNC, 6 botones programables, 8.000 DPI, Black</h6>
            <p><b>Stock: 25</b></p>
            <p><b>$20.990</b></p>
            <ion-button expand="block" color="primary">Ver Producto</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Mouse 3 -->
      <ion-col size="6">
        <ion-card class="card-3">
          <ion-img src="/assets/icon/mouse3.jpg"></ion-img>
          <ion-card-content>
            <h6>Mouse Gamer Logitech G203 New Rgb Lightsync White</h6>
            <p><b>Stock: 10</b></p>
            <p><b>$23.450</b></p>
            <ion-button expand="block" color="primary">Ver Producto</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Mouse 4 -->
      <ion-col size="6">
        <ion-card class="card-4">
          <ion-img src="/assets/icon/mouse4.jpg"></ion-img>
          <ion-card-content>
            <h6>Logitech G Ratón inalámbrico Lightspeed - Azul</h6>
            <p><b>Stock: 15</b></p>
            <p><b>$29.990</b></p>
            <ion-button expand="block" color="primary">Ver Producto</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Mouse 5 -->
      <ion-col size="6">
        <ion-card class="card-5">
          <ion-img src="/assets/icon/mouse5.jpg"></ion-img>
          <ion-card-content>
            <h6>Mouse Gamer Monster Thunderstorm</h6>
            <p><b>Stock: 30</b></p>
            <p><b>$7.990</b></p>
            <ion-button expand="block" color="primary">Ver Producto</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Mouse 6 -->
      <ion-col size="6">
        <ion-card class="card-6">
          <ion-img src="/assets/icon/mouse6.jpg"></ion-img>
          <ion-card-content>
            <h6>Mouse Gamer Hourglass Óptico RGB USB Negro</h6>
            <p><b>Stock: 20</b></p>
            <p><b>$13.990</b></p>
            <ion-button expand="block" color="primary">Ver Producto</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
