<ion-header>
  <ion-toolbar>
    <ion-title>Mouse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Mouse 1 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/mouse1.jpg"></ion-img>
          <ion-card-content>
            <h2>Mouse Gamer Redragon Vampire M720</h2>
            <p>$19.900</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Mouse 2 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/mouse2.jpg"></ion-img>
          <ion-card-content>
            <h2>Mouse Gamer Logitech G203 RGB LIGHTSYNC, 6 botones programables, 8.000 DPI, Black</h2>
            <p>$20.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Mouse 3 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/mouse3.jpg"></ion-img>
          <ion-card-content>
            <h2>Mouse Gamer Logitech G203 New Rgb Lightsync White</h2>
            <p>$23.450</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Mouse 4 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/mouse4.jpg"></ion-img>
          <ion-card-content>
            <h2>Logitech G Ratón inalámbrico Lightspeed - Azul</h2>
            <p>$29.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Mouse 5 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/mouse5.jpg"></ion-img>
          <ion-card-content>
            <h2> Mouse Gamer Monster Thunderstorm</h2>
            <p>$7.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!--Mouse 6 -->
      <ion-col size="6">
        <ion-card>
          <ion-img src="/assets/icon/mouse6.jpg"></ion-img>
          <ion-card-content>
            <h2>Mouse Gamer Hourglass Óptico RGB USB Negro</h2>
            <p>$13.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
