<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end"> 
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/carrito']">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar color="light" placeholder="Buscar"></ion-searchbar>
  <img style="border-radius: 15px;" class="banner-image" alt="monitorpromo" src="assets/icon/monitorpromo.jpg"/>
  <ion-grid>
    <ion-row>
      <!-- Monitor 1 -->
      <ion-col size="6">
        <ion-card class="card-1" [routerLink]="'/monitor1'">
          <ion-img src="/assets/icon/monitor1.jpg"></ion-img>
          <ion-card-content>
            <h2>Monitor 27" FHD 240HZ 1MS</h2>
            <p>$191.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Monitor 2 -->
      <ion-col size="6">
        <ion-card class="card-2">
          <ion-img src="/assets/icon/monitor2.jpg"></ion-img>
          <ion-card-content>
            <h2>Monitor Gamer Samsung Odyssey G3 S27ag32 Lcd 27 Negro</h2>
            <p>$178.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Monitor 3 -->
      <ion-col size="6">
        <ion-card class="card-3">
          <ion-img src="/assets/icon/monitor3.jpg"></ion-img>
          <ion-card-content>
            <h2>Monitor Gaming Aoc C27g2z 27 240hz 0.5ms</h2>
            <p>$219.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Monitor 4 -->
      <ion-col size="6">
        <ion-card class="card-4">
          <ion-img src="/assets/icon/monitor4.jpg"></ion-img>
          <ion-card-content>
            <h2>Monitor Gamer Led 24 Full Hd 180hz 1ms</h2>
            <p>$129.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Monitor 5 -->
      <ion-col size="6">
        <ion-card class="card-5">
          <ion-img src="/assets/icon/monitor5.jpg"></ion-img>
          <ion-card-content>
            <h2>Monitor Gamer Curvo Kolke 31,5 Full Hd 165hz 1ms Freesync Color Negro</h2>
            <p>$130.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Monitor 6 -->
      <ion-col size="6">
        <ion-card class="card-6">
          <ion-img src="/assets/icon/monitor6.jpg"></ion-img>
          <ion-card-content>
            <h2>Monitor Gamer Kolke 27 Ips Ejecutivo 100hz 1ms Freesync Color Negro</h2>
            <p>$100.990</p>
            <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
