ion-content {
  --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
}

/* Centrar el contenido */
.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;
}

/* Estilos personalizados para la tarjeta */
.custom-card {
  background-color: #1e1e1e; /* Fondo negro sólido */
  color: white; /* Texto blanco */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Borde redondeado */
  width: 100%; /* Ajuste del ancho */
  max-width: 400px; /* Limitar el ancho máximo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
  margin: auto; /* Asegura que esté centrado */
}

/* Estilo general para los botones personalizados */
.custom-button {
  --background: #5fbded; /* Color celeste para el fondo del botón */
  --color: #ffffff; /* Color blanco para el texto del botón */
  --border-radius: 4px; /* Radio de borde más pequeño para un diseño rectangular */
  padding: 12px 20px; /* Ajusta el tamaño del botón para hacerlo más rectangular */
  margin: 10px 0; /* Añade márgenes verticales */
}

/* Ajustes para que el label esté centrado y bien posicionado */
.custom-label {
  color: white; /* Texto blanco */
  display: block;
  text-align: center;
  margin-bottom: 12px;
}

.custom-button:focus, .custom-button:hover {
  --background: #5fbded; /* Color celeste más oscuro al hacer hover o al enfocar el botón */
}
