ion-content {
    --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
  }
  
  .content-center {
    margin-top: 35%;
  }

  ion-card {
    background-color: rgba(8, 134, 65, 0); 
  }

  /* Estilo general para los botones personalizados */
.custom-button {
  --background: #5fbded; /* Color celeste para el fondo del botón */
  --color: #ffffff; /* Color blanco para el texto del botón */
  --border-radius: 4px; /* Radio de borde más pequeño para un diseño rectangular */
  padding: 12px 20px; /* Ajusta el tamaño del botón para hacerlo más rectangular */
  margin: 10px 0; /* Añade márgenes verticales si es necesario */
}
.custom-button:focus, .custom-button:hover {
  --background: #5fbded; /* Color celeste más oscuro al hacer hover o al enfocar el botón */
}
  