ion-content {
    --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
  }

  .footer-text {
    margin-left: 8px; /* Espacio entre el ícono y el texto */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  
