ion-content {
    --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
  }

  .no-background {
    --ion-background-color: transparent;
  }
  
  .center-buttons {
    display: flex;
    justify-content: center;
    margin: 16px 0; /* Ajusta el margen superior e inferior según lo necesites */
  }
  
  .button-margin {
    margin: 16px; /* Ajusta el margen alrededor del botón según lo necesites */
  }

  /* Estilo para el encabezado */
ion-header {
  --background: #004d74; /* Fondo del encabezado */
  color: #ffffff; /* Color del texto en el encabezado */
}

/* Estilo para los botones del encabezado */
ion-button {
  --background: #004d74; /* Fondo del botón */
  --color: #ffffff; /* Color del texto en el botón */
}

/* Estilo para los íconos dentro de los botones */
ion-icon {
  color: #ffffff; /* Color de los íconos */
}

  
