<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end"> 
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/carrito']">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Perfil" src="/assets/icon/perfil.jpg"/>
    <ion-card-header>
      <ion-card-title>Juan Peréz</ion-card-title>
      <ion-card-subtitle>Administrador</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-button expand="block" class="center-button-container custom-button">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <ion-list>
    <ion-item class="profile-item">
      <ion-label>Nombre:</ion-label>
      <ion-input [(ngModel)]="profile.name" placeholder="Juan Peréz"></ion-input>
    </ion-item>
    <ion-item class="profile-item">
      <ion-label>Email:</ion-label>
      <ion-input [(ngModel)]="profile.email" placeholder="admin&#64;example.com"></ion-input>
    </ion-item>
    <ion-item class="profile-item">
      <ion-label>Teléfono:</ion-label>
      <ion-input [(ngModel)]="profile.phone" placeholder="+56 9xxxxxxxx"></ion-input>
    </ion-item>
    <ion-item class="profile-item">
      <ion-label>Dirección:</ion-label>
      <ion-input [(ngModel)]="profile.address" placeholder="Santiago, Chile"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button color="success" expand="full" class="custom-button" style="margin: 20px;" (click)="camposVacios()">
    Guardar Cambios
  </ion-button>
  <ion-button color="warning" expand="full" class="custom-button" [routerLink]="'/perfil'">
    Cancelar
  </ion-button>
</ion-content>
