<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Contacto</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/icon/contacto.jpg" alt="contacto">
      <ion-icon style="color: red;" name="mail-outline" size="large"></ion-icon>
      <ion-label style="color: white;"><b>TECNOSTORE&#64;GMAIL.COM</b></ion-label>
      <ion-icon style="color: pink;" name="logo-instagram" size="large"></ion-icon>
      <ion-label style="color: white;"><b>TECNOSTORE</b></ion-label>
      <ion-icon style="color: green;" name="logo-whatsapp" size="large"></ion-icon>
      <ion-label style="color: white;"><b>+56 95522 1133</b></ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>

