<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="contact-card">
    <ion-card-header>
      <ion-card-title class="title-black" style="text-align: center;">Contacto</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="contact-content">
      <img src="assets/icon/contacto.jpg" alt="contacto">
      <ion-icon style="color: red;" name="mail-outline" size="large"></ion-icon>
      <ion-label><b>TECNOSTORE&#64;GMAIL.COM</b></ion-label>
      <ion-icon style="color: #ee06ce;" name="logo-instagram" size="large"></ion-icon>
      <ion-label><b>TECNOSTORE</b></ion-label>
      <ion-icon style="color: green;" name="logo-whatsapp" size="large"></ion-icon>
      <ion-label><b>+569 5863 0854</b></ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
