<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Audífono</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="agregarAudifono()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="audifono.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="audifono.precio" name="precio" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Stock</ion-label>
      <ion-input [(ngModel)]="audifono.stock" name="stock" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="audifono.descripcion" name="descripcion" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">URL Imagen</ion-label>
      <ion-input [(ngModel)]="audifono.imagen" name="imagen"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Agregar</ion-button>
  </form>
</ion-content>
