<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end"> 
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-outline" class="icon-large"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/carrito']">
        <ion-icon name="bag-handle-outline" class="icon-large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="item-container">
      <ion-thumbnail slot="start">
        <img src="assets/icon/teclado1.jpg" alt="Teclado Mecánico Red Dragon" />
      </ion-thumbnail>
      <ion-label class="item-details">
        <h6>Teclado Mecánico Gamer Redragon Kumara K552</h6>
        <p class="colorp">RED DRAGON</p>
        <p class="colorp">$34.990</p>
      </ion-label>
      <div class="action-container">
        <ion-button size="small" color="primary">-</ion-button>
        <ion-label class="large-label">1</ion-label>
        <ion-button size="small" color="primary">+</ion-button>
      </div>
      <ion-button color="danger" class="trash-button">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="item-container">
      <ion-thumbnail slot="start">
        <img src="assets/icon/teclado2.jpg" alt="Teclado Mecánico Red Dragon" />
      </ion-thumbnail>
      <ion-label class="item-details">
        <h6>Teclado Gamer G413 Carbon Logitech</h6>
        <p class="colorp">LOGITECH</p>
        <p class="colorp">$89.000</p>
      </ion-label>
      <div class="action-container">
        <ion-button size="small" color="primary">-</ion-button>
        <ion-label class="large-label">1</ion-label>
        <ion-button size="small" color="primary">+</ion-button>
      </div>
      <ion-button color="danger" class="trash-button">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;">Total: $34.990</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger">
        PAGAR
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
