<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end"> 
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/carrito']">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/icon/teclado1.jpg" alt="Teclado Mecánico Red Dragon" />
      </ion-thumbnail>
      <ion-label>
        <h2>Teclado Mecánico Gamer Redragon Kumara K552</h2>
        <p>RED DRAGON</p>
        <p>$34.990</p>
      </ion-label>
      <ion-button color="danger" slot="end">
        Eliminar
      </ion-button>
      <ion-button color="primary" slot="end">
        Agregar
      </ion-button>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>1</ion-label>
      <ion-icon name="remove-circle-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;">Total: $34.990</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger">
        PAGAR
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
