<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>

  <ion-card>
    <ion-img src="/assets/icon/galeria.jpg"></ion-img>
    <ion-button expand="block" style="color: blue;">
      <ion-icon name="image-outline"></ion-icon>
    </ion-button>

    <ion-card-content>
      <form (ngSubmit)="agregarProducto()" #agregarForm="ngForm">
        <ion-item>
          <ion-label>Categoría:</ion-label>
          <ion-input [(ngModel)]="categoria" name="categoria"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-input [(ngModel)]="nombre" name="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Stock:</ion-label>
          <ion-input type="number" [(ngModel)]="stock" name="stock"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Precio:</ion-label>
          <ion-input type="number" [(ngModel)]="precio" name="precio"></ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" color="success">Agregar Producto</ion-button>
        <ion-button expand="block" color="warning" [routerLink]="'/crud'">Cancelar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
