/* Estilos generales para el ion-content */
ion-content {
  --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
}

/* Estilos para el botón Enviar Código */
ion-button.custom-button {
  --background: #5fbded; /* Color celeste para el botón */
  --color: #ffffff; /* Color del texto blanco */
  --border-radius: 4px; /* Bordes menos redondeados para un diseño más rectangular */
  --padding-start: 24px; /* Espaciado interior del botón */
  --padding-end: 24px; /* Espaciado interior del botón */
  --padding-top: 12px; /* Espaciado interior del botón */
  --padding-bottom: 12px; /* Espaciado interior del botón */
  width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
}
