<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>TECNO STORE</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- Cuadro que encierra los campos de usuario y contraseña -->
  <ion-card class="content-center">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Recuperar Cuenta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label class="ion-text-center">recibirá un código para renovar su contraseña</ion-label>
      
      <!-- Campo de Usuario -->
      <ion-item>
        <ion-input placeholder="Ingrese su correo"></ion-input>
      </ion-item>

      <!-- Botón de Enviar Código -->
      <ion-button expand="block" class="custom-button" [routerLink]="['/codigo']">Enviar Código</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

