<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end"> 
      <ion-button [routerLink]="'/perfil'">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="'/carrito'">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <!-- Imagen del Monitor sin título encima -->
        <ion-img *ngIf="producto.foto_prod" [src]="producto.foto_prod" style="width: 100%;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="product-description">
        <!-- Breve descripción del monitor con fondo blanco -->
        <h3>{{producto.nombre_prod}}</h3>
        <p>
        {{producto.descripcion_prod}}
        </p>
        <p><b>{{producto.stock_prod}} </b></p>
        <!-- Precio del monitor -->
        <h3><b> {{producto.precio_prod}}</b></h3>
        <!-- Botón de agregar al carrito -->

        <div>

          <ion-button (click)="aumentarCantidad()"> <ion-icon name="add-outline"></ion-icon> </ion-button>

          <ion-button (click)="disminuirCantidad()"> <ion-icon name="remove-outline"></ion-icon> </ion-button>

        </div>

        <ion-button expand="block" class="custom-button" (click)="alarmaCarrito(producto.id_producto)">Agregar al carrito</ion-button>
        <!-- Botón para volver a la página de monitores -->
        <ion-button expand="block" color="light" (click)="volverSeccionAnterior(producto.categoria_id)">Volver a seccion de monitores</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
