/* Fondo del ion-content */
ion-content {
  --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
  display: flex;
  flex-direction: column;
}

/* Estilo para el encabezado */
ion-header {
  --background: #004d74; /* Fondo del encabezado */
  color: #ffffff; /* Color del texto en el encabezado */
}

/* Estilo para los botones del encabezado */
ion-button {
  --background: #004d74; /* Fondo del botón */
  --color: #ffffff; /* Color del texto en el botón */
}

/* Estilo para los íconos dentro de los botones */
ion-icon {
  color: #ffffff; /* Color de los íconos */
}

/* Estilo para el título "PRODUCTOS DESTACADOS" */
.featured-title {
  background-color: #ffffff; /* Fondo blanco para el título */
  color: #000000; /* Texto negro para el título */
  padding: 10px; /* Ajusta el espacio alrededor del texto si es necesario */
  text-align: center; /* Centra el texto */
}

/* Estilo para las imágenes de banner */
.banner-image {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Establecer un tamaño fijo para las tarjetas */
/* Asegurarse de que las tarjetas tengan un fondo blanco */
.card-fixed-size {
  --background: #ffffff; /* Fondo blanco para las tarjetas */
  border-radius: 10px; /* Redondear las esquinas de las tarjetas */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Agregar sombra para un efecto de profundidad */
  min-height: 300px; /* Ajusta la altura mínima de las tarjetas */
}

/* Ajustar el espaciado entre tarjetas */
ion-col {
  margin-bottom: 20px; /* Ajusta el margen inferior */
}

/* Ajustar el tamaño del texto en las tarjetas */
ion-card-content h2 {
  font-size: 1.2rem; /* Ajusta el tamaño del título */
  margin: 0; /* Elimina el margen superior e inferior */
}

ion-card-content h5 {
  font-size: 1rem; /* Ajusta el tamaño del subtítulo */
  margin: 0; /* Elimina el margen superior e inferior */
}

ion-card-content p {
  font-size: 0.9rem; /* Ajusta el tamaño del texto del párrafo */
  margin: 0.2rem 0; /* Reduce el margen superior e inferior */
}

/* Ajustar el padding dentro de las tarjetas */
ion-card-content {
  padding: 5px; /* Reduce el padding interno */
}

/* Ajustar la imagen en la tarjeta */
ion-img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
  height: auto; /* Mantiene la proporción de la imagen */
}
