<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start"> 
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="text-align: center;">
        <ion-button fill="clear" [routerLink]="['/home']">
          TECNO STORE
        </ion-button>
      </ion-title>
      <ion-buttons slot="end"> 
        <ion-button [routerLink]="['/perfil']">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/carrito']">
          <ion-icon name="bag-handle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" id="main-content">
    <ion-searchbar color="light" placeholder="Buscar"></ion-searchbar>
    <img style="border-radius: 15px;" class="banner-image" alt="amd" src="/assets/icon/ryzen.jpg"/>
    <h6 class="featured-title"><b>PRODUCTOS DESTACADOS</b></h6>

    <!-- Añadido ion-grid y ion-row -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="card-fixed-size">
            <ion-img src="/assets/icon/teclado4.jpg"></ion-img>
            <ion-card-content>
              <h6>Teclado Gamer Xpg Mage Rgb Gaming Red Switch Acuario</h6>
              <p><b>Stock: 20</b></p>
              <p>$12.990</p>
              <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card-fixed-size">
            <ion-img src="/assets/icon/monitor2.jpg"></ion-img>
            <ion-card-content>
              <h6>Monitor Gamer Samsung Odyssey G3 S27ag32 Lcd 27 Negro</h6>
              <p><b>Stock: 15</b></p>
              <p>$178.990</p>
              <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card-fixed-size">
            <ion-img src="/assets/icon/mouse6.jpg"></ion-img>
            <ion-card-content>
              <h6>Mouse Gamer Hourglass Óptico RGB USB Negro</h6>
              <p><b>Stock: 25</b></p>
              <p>$13.990</p>
              <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card-fixed-size">
            <ion-img src="/assets/icon/audifono6.jpg"></ion-img>
            <ion-card-content>
              <h6>Audífonos Gamer Logitech G335, Wired, Auricular Tamaño Completo</h6>
              <p><b>Stock: 23</b></p>
              <p>$59.990</p>
              <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card-fixed-size">
            <ion-img src="/assets/icon/pc4.jpg"></ion-img>
            <ion-card-content>
              <h6>Pc Gamer Spartan: Rz 3 2200g Pro</h6>
              <p><b>Stock: 10</b></p>
              <p>$344.990</p>
              <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card-fixed-size">
            <ion-img src="/assets/icon/silla4.jpg"></ion-img>
            <ion-card-content>
              <h6>Silla Gamer Racing Reclinable 180° Reposapiés Rojo</h6>
              <p><b>Stock: 18</b></p>
              <p>$63.490</p>
              <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <img style="border-radius: 15px;" class="banner-image" alt="win" src="/assets/icon/valorant2.jpg"/>
  </ion-content>
</ion-app>
