/* Fondo del ion-content */
ion-content {
  --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
}

/* Estilo para las imágenes de banner */
.banner-image {
  margin-left: 38px;
  width: 80%; /* Ajusta al ancho del contenedor */
  height: auto; /* Ajusta la altura para mantener la proporción */
}

/* Colores de fondo para todas las tarjetas */
.card-fixed-size {
  --background: #ffffff; /* Color de fondo para todas las tarjetas */
  border-radius: 14px; /* Redondear las esquinas de las tarjetas */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Agregar sombra para un efecto de profundidad */
  min-height: 400px; /* Altura mínima para que todas las tarjetas tengan el mismo tamaño */
  display: flex;
  flex-direction: column; /* Asegura que el contenido se apile verticalmente */
}

/* Ajustar el padding dentro de las tarjetas */
ion-card-content {
  display: flex;
  flex-direction: column; /* Asegura que el contenido se apile verticalmente dentro de la tarjeta */
  flex: 1; /* Permite que el contenido ocupe todo el espacio disponible */
  padding: 10px; /* Ajusta el padding interno para que el contenido tenga suficiente espacio */
}

/* Ajustar la imagen en la tarjeta */
ion-img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
  height: auto; /* Mantiene la proporción de la imagen */
  max-height: 150px; /* Ajusta la altura máxima de la imagen para que las tarjetas se vean uniformes */
}

/* Ajustar el tamaño del texto en las tarjetas */
ion-card-content h6 {
  font-size: 0.9rem; /* Ajusta el tamaño del texto del título */
  margin: 0; /* Elimina el margen superior e inferior */
}

ion-card-content p {
  font-size: 1rem; /* Ajusta el tamaño del texto del párrafo */
  margin: 0.2rem 0; /* Reduce el margen superior e inferior */
}

/* Estilo para el botón de agregar al carrito */
ion-button {
  margin-top: auto; /* Empuja el botón al final del contenedor flex */
  --background: #004d74; /* Color del botón */
  --color: #ffffff; /* Color del texto del botón */
  --border-radius: 0; /* Opcional: elimina el radio de borde para un diseño plano */
}

/* Asegurarse de que todas las tarjetas tengan el mismo tamaño */
ion-grid {
  display: flex;
  flex-wrap: wrap;
}

ion-row {
  display: flex;
  flex-wrap: wrap;
}

ion-col {
  display: flex;
  align-items: stretch; /* Estira las tarjetas para que todas tengan la misma altura */
}

/* Estilo para el encabezado */
ion-header {
  --background: #004d74; /* Fondo del encabezado */
  color: #ffffff; /* Color del texto en el encabezado */
}

/* Estilo para los botones del encabezado */
ion-button {
  --background: #004d74; /* Fondo del botón */
  --color: #ffffff; /* Color del texto del botón */
}

/* Estilo para los íconos dentro de los botones */
ion-icon {
  color: #ffffff; /* Color de los íconos */
}
