<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start"> 
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="text-align: center;">TECNO STORE</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" id="main-content">
    <ion-searchbar color="light" placeholder="Buscar"></ion-searchbar>
    <img class="banner-image" alt="amd" src="/assets/icon/ryzen.jpg"/>
    <h1 style="text-align: center;"><b>PRODUCTOS DESTACADOS</b></h1>

    <!-- Añadido ion-grid y ion-row -->
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="card-fixed-size">
            <ion-img src="/assets/icon/teclado4.jpg"></ion-img>
            <ion-card-content>
              <h2 style="color: black;">Teclado Gamer Xpg Mage Rgb Gaming Red Switch Acuario</h2>
              <p style="color: black;">$12.990</p>
              <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card-fixed-size">
            <ion-img src="/assets/icon/monitor2.jpg"></ion-img>
            <ion-card-content>
              <h2 style="color: black;">Monitor Gamer Samsung Odyssey G3 S27ag32 Lcd 27 Negro</h2>
              <p style="color: black;">$178.990</p>
              <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card-fixed-size">
            <ion-img src="/assets/icon/mouse6.jpg"></ion-img>
            <ion-card-content>
              <h2 style="color: black;">Mouse Gamer Hourglass Óptico RGB USB Negro</h2>
              <p style="color: black;">$13.990</p>
              <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card-fixed-size">
            <ion-img src="/assets/icon/audifono6.jpg"></ion-img>
            <ion-card-content>
              <h2 style="color: black;">Audífonos Gamer Logitech G335, Wired, Auricular Tamaño Completo</h2>
              <p style="color: black;">$59.990</p>
              <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card-fixed-size">
            <ion-img src="/assets/icon/pc4.jpg"></ion-img>
            <ion-card-content>
              <h2 style="color: black;">Pc Gamer Spartan: Rz 3 2200g Pro</h2>
              <p style="color: black;">$344.990</p>
              <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card-fixed-size">
            <ion-img src="/assets/icon/silla4.jpg"></ion-img>
            <ion-card-content>
              <h2 style="color: black;">Silla Gamer Racing Reclinable 180° Reposapiés Rojo</h2>
              <p style="color: black;">$63.490</p>
              <ion-button expand="block" color="primary">Agregar al carrito</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
    <img class="banner-image" alt="win" src="/assets/icon/valorant2.jpg"/>
  </ion-content>
</ion-app>
